@model Feb1.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
            @*@Html.DisplayNameFor(model => model.ProductName)*@
        </dt>

        <dd>
            @*<span>{model => model.ProductName}</span>*@
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Unit Price
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
        </dt>

        <dd>
            @*<span>{model => model.UnitPrice}</span>*@
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>


        <dt>
            Unit In Stock
            @*@Html.DisplayNameFor(model => model.UnitInStock)*@
        </dt>

        <dd>
            @*<span>{model => model.UnitInStock}</span>*@
            @Html.DisplayFor(model => model.UnitInStock)
        </dd>

        <dt>
            Category Name
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
        </dt>

        <dd>
            @*<span>{model => model.Category.CategoryName}</span>*@
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    <a href="/Products/Edit/@Model.ProductID">Edit</a> |
    <a href="/Products">Back to List</a>
</p>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
