@model IEnumerable<Feb1.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Products/Create">Create New</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-bordered table-hover table-responsive text-center">
    <tr>
        <th class="text-center">
            Product Name
            @*@Html.DisplayNameFor(model => model.ProductName)*@
        </th>
        <th class="text-center">
            Unit Price
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
        </th>
        <th class="text-center">
            Unit In Stock
            @*@Html.DisplayNameFor(model => model.UnitInStock)*@
        </th>
        <th class="text-center">
            Category Name
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span>@item.ProductName</span>
            @*@Html.DisplayFor(modelItem => item.ProductName)*@
        </td>
        <td>
            <span>@item.UnitPrice</span>
            @*@Html.DisplayFor(modelItem => item.UnitPrice)*@
        </td>
        <td>
            <span>@item.UnitInStock</span>
            @*@Html.DisplayFor(modelItem => item.UnitInStock)*@
        </td>
        <td>
            <span>@item.Category.CategoryName</span>
            @*@Html.DisplayFor(modelItem => item.Category.CategoryName)*@
        </td>
        <td>
            <a href="/Products/Edit/@item.ProductID">Edit</a> |
            <a href="/Products/Details/@item.ProductID">Details</a> |
            <a href="/Products/Delete/@item.ProductID">Delete</a>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>*@
    </tr>
}

</table>
