@model IEnumerable<Feb_6.Models.Information>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-md-8">
        @Html.Action("LastOrder")

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Search", "Information"))
        {
            <div>
                <label>Search by :</label>
                @Html.RadioButton("searchBut", "FirstName", true) First Name
                @Html.RadioButton("searchBut", "LastName") Last Name
                @Html.RadioButton("searchBut", "E_mail") E-mail


                @Html.TextBox("search", "", new { @class = "form-control visible-lg-inline-block" })
                <input type="submit" name="name" value="Search" class="btn btn-primary" />
            </div>
            <br />
        }
    </div>
</div>





<p style="text-align:end;">
    @Html.ActionLink("Create New", "Create" )
</p>
<table class="table table-hover table-responsive table-striped table-bordered">
    <tr class="info" style="text-align:center">
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            E-mail
        </th>
        <th>
            Phone
        </th>
        <th>
            Age
        </th>
        <th>
            Job Title
        </th>
        <th>
            CV
        </th>
        <th>
            Photo
        </th>
        <th>
            Gender
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Title)
            </td>
            <td>
                
                <a href="..\CVs\@item.CV" download>Download CV</a>
            </td>
            <td>
                <img src="..\image\@item.Image" width="100" />

            </td>
            <td>
                @if (@item.Gender == true)
                {
                    <span>Female</span>
                }
                else
                {<span>Male</span>}
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
